svg {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: -1;
    margin: 0;
    padding: 0;
    height: 100vh;
}


#one {
    animation: fade-in-left 10s ease-in-out 1s infinite both;
}

#two {
    animation: fade-in-left 9s ease-in-out 1s infinite both;
}

#three {
    animation: fade-in-left 8s ease-in-out 1s infinite both;
}

#four {
    animation: fade-in-left 6s ease-in-out 3s infinite both;
}

#five {
    animation: fade-in-left 7s ease-in-out 1s infinite both;
}

#six {
    animation: fade-in-left 5s ease-in-out 1s infinite both;
}

#seven {
    animation: fade-in-left 4s ease-in-out 1s infinite both;

}


@-webkit-keyframes fade-in-left {
    0% {
        transform: translateX(0);

    }

    50% {
        transform: translateX(-35px);

    }

    100% {
        transform: translateX(0);

    }
}

@keyframes fade-in-left {
    0% {
        transform: translateX(0);

    }

    50% {
        transform: translateX(-35px);

    }

    100% {
        transform: translateX(0);

    }
}